body{
		background-color: #ffffff;
		font-family: Roboto, Courier New, sans-serif;
	}

a {
    color: #6e94ff;
		text-decoration: none;
}

a:hover {
		font-family: Roboto, Courier New, sans-serif;
		background-color: #ffffa6;
		color: #000000;
}

.main-name {
	position: relative;
  margin-left: 75px;
  margin-top: 50px;
  font-size: 16pt;

}

.paragraph {
	position: relative;
	line-height: 1.25;
  margin-left: 75px;
	margin-top: 10px;
  width: 40%;
  font-size: 12pt;
}

@media only screen and (max-width: 900px) {
	.main-name {
		position: relative;
	  margin-left: 25px;
	  margin-top: 50px;
	  font-size: 14pt;

	}

	.paragraph {
		position: relative;
		line-height: 1.25;
	  margin-left: 25px;
		margin-top: 10px;
	  width: 85%;
	  font-size: 10pt;
	}
}

.paragraph em {
	color: #969696;
}

.list {
	line-height: 1.50;
	margin-left: 15px;
	font-size: 12pt;
}

.links {
	position: relative;
	line-height: 1.25;
	font-size: 10pt;
}
